*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    width: 100%;
    overflow-x: hidden;
    font-family: 'Ruluko', sans-serif;
    /* font-family: sans-serif; */
    background-color: #171c26;
    scroll-behavior: smooth;
}
.main{
    max-width: 1500px;
    margin: 0 auto;
}
/* ----------------Theme Colors-------------- */
:root{
    --nav-bg-color:#171c26;
    --logo-color:#fff;
    --nav-link-color:rgb(133, 133, 133);
    --nav-link-hover-color:#fff;
    --social-icon-bg-color:#fff;
    --header-title-color:#fff;
    --header-text-color:rgb(240, 240, 240);
    --small-text-color:rgb(133, 133, 133);
    --about-top-text-color:#fff;
    --about-heading-color:#fff;
    --service-top-heading-color:#fff;
    --service-heading-color:#fff;
    --info-sub-heading-color:#fff;
    --info-heading-color:#fff;
    --attribte-color:#fff;
    --theme-color:#009e66;
}
/* --------------Global Classes----------- */
.flex-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.heading{
    font-size: 2rem;
    font-weight: 600;
}
.sub-heading{
    font-size: 1.5rem;
    line-height: 2rem;
}
@media (max-width:768px){
    .heading{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .sub-heading{
        padding-top: 0.2rem;
        font-size: 1rem!important;
        line-height: 1.5rem;
    }
}
.btn{
    color: white;
    font-size: 75%;
    display: inline-block;
    padding: 0.6rem 1rem;
    border: 1px solid var(--theme-color);
    border: solid 1px white;
    transition:all 0.5s;
}
.btn:hover{
    background: var(--theme-color); 
    border: 1px solid var(--theme-color);
}
.small-text{
    font-size: 0.9rem;
    line-height: 1.4rem;
    color: var(--small-text-color);
}
.hr{
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-style: inset;
}
/* -----------Nav-Bar----------- */
.nav-bar{
    width: 100%;
    max-width: 1500px;
    padding: 0.5rem 5%;
    position: relative;
    z-index: 100;
    position: fixed;
    background-color:var(--nav-bg-color) ;
}
.nav-wrapper{
    align-items: center;
    justify-content: space-between;
}
.nav-menu{
flex: 1;
text-align: right;
position: relative;
}
.nav-item{
    display: inline-block;
}
.nav-link{
    font-size: 0.9rem;
    color:var(--nav-link-color) ;
    padding-left:1.5rem;
    transition: 0.5s;
}
.nav-link:hover{
    color: var(--nav-link-hover-color);
}
.menu-icon{
    width: 24px;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    display: none;
}
.menu-icon img{
    width: 100%;
}
.menu-close{
    width: 30px;
    position: absolute;
    left: 1rem;
    top: 1rem;   
    display: none;  
}
.menu-close img{
    width: 100%;
    background: #fff;
    border-radius: 50%;
    padding: 0.3rem;
}
@media(max-width:768px){
    .menu-icon{
        display: block;
    }
    .nav-menu{
        position: fixed;
        display: block;
        width: 250px;
        height: 100vh;
        top: 0%;
        right: -250px;
        transition: 0.5s ease-in-out;
        background-color: var(--nav-bg-color);
    }
    .nav-item-wrapper{
        margin-top: 6rem;
        text-align: center;
    }
    .nav-item{
        display: block;
    }
    .nav-link{
        display: block;
        padding: 1rem 0;  
        margin: 0.3rem 1rem;
    }
    .menu-close{
        display: block;
    }
}
/* -----------------Header----------------- */
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 3rem;
}
.header-bg{
    width: 100%;
    /* margin-top: 70px; */
    position: relative;
    height: calc(100vh - 60px);
}
.header-bg::after{
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100vh);
    display: block;
    background:radial-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 1));
    top: 0;
    left: 0;
}
.header-bg video{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: 60px;
}
.header-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
.header-title{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--header-title-color);
    margin-bottom: 1rem;
}
.name{
    color: var(--theme-color);
}
.header-text{
    line-height: 1rem;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    letter-spacing: 1px;
    color: var(--header-text-color);
}
.header-btn{
    text-align: center;
    display: inline-block;
    color: white;
    font-size: 1rem;
    margin-top: 1rem;
}
.arrow{
    position: relative;
    padding-right: 0.5rem;
}
.header-btn:hover.arrow{
    transform: rotate(90deg);
}
.social{
    display: block;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.social-wrapper{
    display: flex;
    flex-direction: column;
}
.social-icon{
    width: 16px;
    /* background-color:var(--social-icon-bg-color) ; */
    margin-top: 0.5rem;
    filter: grayscale(100%);
    transition: 0.5s ease-in-out;
}
.social-icon:hover{
    filter: grayscale(0%);
}
@media(max-width:768px){
    .header-title{
        font-size: 2rem;
        margin-bottom: 0.5rem;
        font-weight: 600;
    }
    .header-text{
        font-size: 1rem;
        line-height: 1.0rem;
        padding: 0 2rem;
    }
}
@media(max-width:540px){
    .header-title{
        font-size: 1.8rem;
        font-weight: 500;
    }
}
@media(max-width:360px){
    .header-title{
        font-size: 1.5rem;
    }
    .header-text{
        font-size: 0.7rem;
    }
}

/* ----------About-------------- */
.about{
    width: 100%;
    padding: 0rem 1rem;
    position: relative;
}
.about-wrapper{
    width: 100%;
    height: 100%;  
}
.about-top{
    text-align: center;
    padding-bottom: 1rem;
    /* padding-top: 1rem; */
}
.about-top-text{
color: var(--about-top-text-color);
}
.about-heading{
    color: var(--about-heading-color);
    /* padding: 1rem; */
}
.about-heading::after{
    content: '';
    position: absolute;
    width: 5rem;
    height: 0.4rem;
    display: block;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 0.5rem;
    border-radius: 0.25rem;
}
/* -----------info-section--------- */
.info{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 2rem;
}
.image{
flex-basis: 40%;
padding: 3rem 2rem 3rem 0rem;
display: flex;
justify-content: flex-end;
align-items: center;
min-width: 300;
}
.image-wrapper{
    display: block;
    width: 100%;
    height: 100%;
    min-width: 280px;
    position: relative;  
}
.image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: var(--theme-color);
}

.address-row{
    display: flex;
    padding-bottom: 1rem;
}
.address-row-wrapper{
    align-items: center;
}
.info-data{
    flex-basis: 55%;
    padding: 1rem 0rem;
}
.sub-heading{
    padding-top: 0.3rem;
    color: var(--info-sub-heading-color);
}
.info-heading{
    color: var(--info-heading-color);
    padding-top: 1rem;
}
.info-text{
    padding-top: 1rem;
}
.info-text-hr{
    width: 100%;
    border-width: 1px;
    margin-top: 1rem!important;
    margin-bottom: 1rem!important;
}
.attribte{
    color: var(--attribte-color);
    /* font-size: 1rem; */
    margin-right: 1rem;
    font-weight: 500;
    margin-bottom: 0.3rem;
    margin-top: 1.5rem;
}
.value{
    margin-right: 0rem;
}
.info-col{
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
.data-col{
    padding-right: 2rem;
}
.about-social{
    margin-top: 0 !important; 
    padding-top: 0!important;
    align-items: center;
    flex-direction: row!important;
}
.about-social-icon{
    margin: 0rem;
 margin-left: 0.5rem;
}
.btn-cv{
    display: block; 
    border: solid white 1px;
}
.space-line{
    display: block;
    width: 8rem !important;
    height: 1px;
    margin: 1rem 2rem 0!important;
}
@media(max-width:940px){
    .info{
        flex-direction: column;
        align-items: center;
    }
    .image{
        flex-basis: 100%; 
        display: block;
        min-width: 300px;
    }
    .image-wrapper{
        width: 300px;
        height: 300px;
        min-width: 280px;
        /* margin: 0 0 1rem 2rem; */
        display: inline-block !important;
        position: relative;   
    }
    .image-wrapper img{
        height: 100%;
        width: 100%;
        position: absolute;
        border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    }
    .info-data{
        flex-basis: 100%;
    }  
    .info-heading{
        font-size: 1.rem;
    }
}
@media(max-width:768px){
    .info{
        padding: 0 2rem;
    }
    .data-col{
        padding-right: 0;
    }
    .sub-heading{
        font-size: 1.3rem;
        font-weight: 300;
    }
    .info-heading{
        /* font-size: 1.rem; */
        font-weight: 500;
    } 
    .address-row{
        padding-bottom: 0rem;
    } 
    .space-line{
        display: block;
        width: 3rem !important;
        height: 1px;
        margin: 0rem 0rem 0!important;
    } 
    .image{
        margin-top: 1rem;
        padding: 0rem;
    }
    .contact-info-col{
        display: flex;
        align-items: center;

        /* border:  solid red 1px; */
    }
    .attribte{
        margin: 0.5rem 1rem 0.5rem 0;
    }
}
@media (max-width:540px){
    .info{
        padding: 0;
    }
    .address-row-wrapper{
        /* flex-direction: column; */
    }
    .btn-cv{
        display: block;
        margin: 0.5rem;
    }
    .space-line{
        display: block;
        width: 8rem;
        height: 1px;
        margin: 1rem;
    }
}
/* -----------------Resume------------------- */
.resume{
    width: 100%;
}
.resume-content{
    padding-top: 2rem;
    justify-content: center;
}
.resume-main-col{
    flex-basis: 40%;
}
.resume-col{
    padding: 1rem;
    margin: 1rem;
    background: rgb(14, 13, 13);
    box-shadow: 0px 0px 2px 0px rgba(133, 133, 133,0.5); 
}
.resume-col:hover{
    box-shadow: 0px 0px 2px 2px rgba(133, 133, 133,0.5); 
}
.course-duration{
    display: inline-block;
    padding: 0.4rem 1.2rem;
    border-radius: 1rem;
    background: rgb(14, 13, 13);
    box-shadow: 0px 0px 2px 1px rgba(133, 133, 133,0.5); 
}
.course-title{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.course-work{
    font-size: 1rem;
    font-weight: 400;
}
@media (max-width:768px){
    .resume-main-col{
        flex-basis: 100%;
    }
}
/* -------------------skill--------------- */
.skills{
    padding: 0 2rem;
}
.skills-wrapper{
    padding:2rem;
}
.skill-row{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;  
    padding-top: 1rem;
}
.skill-row-wrapper{
    width: 85%;
    display: flex;
    flex-wrap: wrap;
}
.skill-main-col{
    flex-basis: 50%;
}
.skill-col{
    width: 100%;
    padding: 0.5rem;
}
.skill-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.3rem;
    padding-right: 1rem;
}
.skill-bar{
    width: 100%;
    height: 0.5rem;
    display: block;
    background: rgb(44, 40, 40);
    box-shadow: 0px 0px 2px 0px rgba(133, 133, 133,0.5);
}
.skill-bar::after{
    content: '';
    width: 70%;
    height: 0.5rem; 
    display: block;
    background: var(--theme-color);
}
.skill-bar-2::after{
    width: 65%;  
}
.skill-bar-3::after{
    width: 75%;  
}
.skill-bar-4::after{
    width: 50%; 
}
.skill-bar-5::after{
    width: 30%; 
}
.skill-bar-6::after{
    width: 80%; 
}
@media(max-width:768px){
    .skills{
        padding: 0 1rem;
    }
    .skills-wrapper{
        padding:0rem;
    }
    .skill-row-wrapper{
        width: 100%;
        flex-direction: column;
    }
    .skill-row{
        padding-top: 0;
    }
    .skill-main-col{
        flex-basis: 100%;
    }
}
/* -------------Services section---------- */

.services{
    width: 100%;
    margin-top: 0rem;
    padding: 1rem 2rem;
}
.services-wrapper{
    width: 100%;
}
.service-top{
    /* padding-top: 2rem; */
    padding-bottom: 1rem;
    padding-left: 2rem;
}
.service-top-heading{
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--service-heading-color);
    padding-bottom: 1rem;
}
.service-row{
    justify-content: center;
}
.service-col{
    flex-basis: 40%;
    padding: 1rem;
    margin: 1rem;
    background: rgb(14, 13, 13);
    box-shadow: 0px 0px 2px 0px rgba(133, 133, 133,0.5);
    transition: all 0.5s;
}
.service-col:hover{
    box-shadow: 0px 0px 2px 2px rgba(133, 133, 133,0.5);
}
.service-logo{
    position: relative;
    width: 2.5rem;
}
.service-logo img{
width: 100%;
filter: grayscale(100);
transition: 0.5s;
}
.service-col:hover img{
    filter: grayscale(0);  
}
.service-heading{
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 0rem;
}
.service-desc{
    display: inline-block;
    margin-top: 0rem;
}
@media (max-width:940px){
    .service-col{
        flex-basis: 40%;
        margin: 1rem 2rem;
    }
}
@media (max-width:768px){
    .services {
        width: 100%;
        padding: 1rem;
    }
    .service-top{
        padding-left: 0rem;
        padding-bottom: 0;
    }
    .service-col{
        flex-basis: 100%;
        margin: 0.5rem 0;
        padding: 0.5rem;
    }
}
/* -----------------Portfolio----------------- */
.portfolio{
    padding: 2rem;
}
.portfolio-content{
    padding-top: 3rem;
}
.portfolio-col{
    flex-basis: 25%;
    padding: 0!important;
    position: relative;
    padding: 4rem 0;
    /* border: solid red 1px; */
}
/* .service-col{
    flex-basis: 40%;
    padding: 1rem;
    margin: 1rem;
    background: rgb(14, 13, 13);
    box-shadow: 0px 0px 2px 0px rgba(133, 133, 133,0.5);
    transition: all 0.5s;
} */
.porfolio-overlay{
width: 100%;
height: 100%;
top: 0;
position: absolute;
background: transparent;
box-shadow: none!important;
opacity: 0.9;
transition: 0.5s;border-bottom: solid var(--theme-color) 6px;
}
.porfolio-overlay:hover{
    box-shadow: none!important;
    background:var(--theme-color);
}
.portfolio-img {
    width: 100%;
    height: 100%;
    /* padding: 2rem 0; */
    }
.portfolio-img img{
    width: 100%;
    height: 100%;

}
.portfolio-title{
    font-size: 1rem!important;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    opacity: 0;
    transition: 0.5s;
    z-index: 2;
}
.portfolio-btn{
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s;
    background: transparent;
}
.btn-portfolio-link:hover{
    background: #171c26!important;
}

.porfolio-overlay:hover .portfolio-btn{
    opacity: 1;
}
.porfolio-overlay:hover .portfolio-title{
    bottom: 50%;
    transform: translate(-50%,50%);
    opacity: 1;
}
@media(max-width:940px){
    .portfolio-col{
        flex-basis: 40%!important;
    }
}
@media(max-width:768px){
    .portfolio{
        padding: 1rem;
    }
    .portfolio-content{
        padding-top: 1rem;
    }
    .portfolio-col{
        flex-basis: 100%!important;
    }
}
/* --------------testimonial-------------- */
.testimonial{
    /* display: none; */
    width: 100%;    
}
.testimonial-wrapper{
    padding: 0rem 2rem;
}
.testimonial-slide{
    flex-wrap: nowrap!important;
}
.swiper {
    width: 80%;
  }
  .testimonial-col{
      padding:1.5rem;
      margin:1rem 4rem;
      border-radius: 0.5rem;
  }
  .swiper-button-next::after, .swiper-button-prev::after{
      color: var(--theme-color);
      font-size: 2rem!important;
  }

@media (max-width:768px){
    .swiper {
        width: 100%;
      }
      .testimonial-wrapper {
        padding: 0 1em;
      }
    .testimonial-col{
        padding: 0.5rem;
        margin:0.5rem;
    }
}

/* -----------contact section--------- */
.contact{
    width: 100%;
}
.contact-top{
    text-align: center;
    margin-top: 2rem ;
    margin-bottom: 3rem;
}
.contact-row{
margin-top: 2rem;
}
.message-me{
flex-basis: 55%;
width: 100%;
}
.contact-form{
    padding-left: 4rem;
}
.message-input{
    display: inline-block;
    width: 45%;
    border-radius: 0.25rem;
    padding: 0.9rem 1rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    border: none;
    outline: none;
    background: rgb(14, 13, 13);
    box-shadow: 0px 0px 2px 0px rgba(133, 133, 133,0.5);
    color: rgb(255, 255, 255);  
}
.subject-input{
    width: 94.5%!important;
    margin-bottom: 1rem;
    background: rgb(14, 13, 13);
    box-shadow: 0px 0px 2px 0px rgba(133, 133, 133,0.5);
}
.contact-info{
    /* margin: 0 2.5rem; */
}
.messge-content{
    width: 94.5%!important;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem 1rem 0.5rem;
    margin-right: 1.5rem;
    margin-top: 1rem;
    border: none;
    outline: none;
    background: rgb(14, 13, 13);
    box-shadow: 0px 0px 2px 0px rgba(133, 133, 133,0.5);
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
}
.form-heading{
    margin-bottom: 1.5rem;
}
@media(max-width:1070px){
    .message-input{
        width: 44%;
        margin-right: 1rem;
        margin-bottom: 1.3rem;
    }
    .subject-input{
        width: 93%!important;
        margin-bottom: 1.3rem;
    }
    .messge-content{
        width: 93%!important;
        margin-bottom: 1.3rem; 
        margin-top: 0rem;
    }    
    .contact-info{
        margin-top: 2rem 0;
    }
}
@media(max-width:768px){
    .contact-top{
        margin-top: 1rem ;
        margin-bottom: 2rem;
    }
    .message-me{
        width: 100vw!important;
        flex: 1;
    }
    .contact-row{
        display: flex;
        flex-direction: column-reverse!important;
        width: 100vw;
        margin-right: 0;
    }
    .contact-info{
        margin: 1rem 1rem 0;
    }
    .form-heading {
        margin-bottom: 0.5rem;
    }
    
    .contact-form{
        padding: 0 1rem;
        margin: 0 auto;
        flex: 1;
        /* padding-left: 2.5rem; */
    }
    .message-input{
        width: 45%;
        margin-bottom: 0.5rem;
        margin-right: 0rem;
    }
    .subject-input{
        width: 100%!important;
        margin-bottom: 0.5rem;
    }
    .messge-content{
        width: 100%!important;
        margin-bottom: 1.3rem; 
        margin-top: 0rem;
        margin-right: 0;
    }
}
@media(max-width:540px){
    .contact-form{
        margin: 1rem auto!important;
        padding-right: 1rem;
        flex: 1;
    }
    .message-input{
        width: 100%;
    }
    .contact-info{
        will-change: 100vw;
        flex: 1;
    }
}
.footer{
    margin-top: 1rem;
    padding-top: 1rem;
    background:rgb(14, 13, 13);
}
.footer-wrapper{
    width: 80%;
    margin: 0 auto;
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.footer-social-icon{
    width: 24px;
    margin: 0.3rem;
}
.footer-menu{
    display: flex;
    margin: 0.3rem auto;
    text-align: center;
}
.footer-nav-icon{
    color: white!important;
    font-size: 0.8rem;
    margin: 0rem 0.5rem!important;
    padding-left: 0rem!important;
}
.hr{
    display: block;
    width: 72%;
    margin: 0.5rem auto;
}
.copyright{
    padding: 0 0rem 0.5rem;
    align-items: center;
    text-align: center;
}
.vertical-hr{
    display: inline-block;
    width: 0.25px;
    height: 0.9rem;
    margin: 0.2rem 0.5rem 0;
    border-top: solid rgb(133, 133, 133) 0.9rem;  
}
@media(max-width:768px){
    .footer-content{
        flex-direction: column;
    }
}